<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a59e97">  <td>21/10/02 11:08:01</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;LandingPage.navToUrl()[pri:0, instance:Test.LandingPage@5c3b6c6e]">&gt;&gt;navToUrl</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1535026957</td>   <td></td> </tr>
<tr bgcolor="a59e97">  <td>21/10/02 11:08:18</td>   <td>16610</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LandingPage.t1()[pri:0, instance:Test.LandingPage@5c3b6c6e]">t1</td> 
  <td>main@1535026957</td>   <td></td> </tr>
<tr bgcolor="a59e97">  <td>21/10/02 11:08:18</td>   <td>16643</td> <td>&nbsp;</td><td title="&lt;&lt;LandingPage.terminate()[pri:0, instance:Test.LandingPage@5c3b6c6e]">&lt;&lt;terminate</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1535026957</td>   <td></td> </tr>
</table>
