<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b4d3be">  <td>21/10/02 20:39:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LandingPage.T1()[pri:0, instance:Test.LandingPage@ecf9fb3]">T1</td> 
  <td>main@485475507</td>   <td></td> </tr>
<tr bgcolor="b4d3be">  <td>21/10/02 20:38:53</td>   <td>-16877</td> <td>&nbsp;</td><td title="&gt;&gt;LandingPage.navUrl()[pri:0, instance:Test.LandingPage@ecf9fb3]">&gt;&gt;navUrl</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@485475507</td>   <td></td> </tr>
<tr bgcolor="928fbf">  <td>21/10/02 20:37:29</td>   <td>-101308</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(io.cucumber.testng.PickleWrapper, io.cucumber.testng.FeatureWrapper)[pri:0, instance:TestRunner.TestRunner@4f6f416f]">runScenario</td> 
  <td>main@485475507</td>   <td></td> </tr>
<tr bgcolor="928fbf">  <td>21/10/02 20:37:51</td>   <td>-79490</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(io.cucumber.testng.PickleWrapper, io.cucumber.testng.FeatureWrapper)[pri:0, instance:TestRunner.TestRunner@4f6f416f]">runScenario</td> 
  <td>main@485475507</td>   <td></td> </tr>
<tr bgcolor="928fbf">  <td>21/10/02 20:38:09</td>   <td>-61112</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(io.cucumber.testng.PickleWrapper, io.cucumber.testng.FeatureWrapper)[pri:0, instance:TestRunner.TestRunner@4f6f416f]">runScenario</td> 
  <td>main@485475507</td>   <td></td> </tr>
<tr bgcolor="928fbf">  <td>21/10/02 20:38:30</td>   <td>-40028</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(io.cucumber.testng.PickleWrapper, io.cucumber.testng.FeatureWrapper)[pri:0, instance:TestRunner.TestRunner@4f6f416f]">runScenario</td> 
  <td>main@485475507</td>   <td></td> </tr>
<tr bgcolor="928fbf">  <td>21/10/02 20:37:28</td>   <td>-102492</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:TestRunner.TestRunner@4f6f416f]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@485475507</td>   <td></td> </tr>
<tr bgcolor="928fbf">  <td>21/10/02 20:38:52</td>   <td>-18123</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:TestRunner.TestRunner@4f6f416f]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@485475507</td>   <td></td> </tr>
<tr bgcolor="b4d3be">  <td>21/10/02 20:39:10</td>   <td>16</td> <td>&nbsp;</td><td title="&lt;&lt;LandingPage.terminate()[pri:0, instance:Test.LandingPage@ecf9fb3]">&lt;&lt;terminate</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@485475507</td>   <td></td> </tr>
</table>
